

/* work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style here */

img{
  width: 100%;
  height: auto;
}


/* main content style here */
main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

/* nab bar style here */

.display-flex{
  display: flex;

}

.bg-light{
  background-color: rgba(255, 144, 14, 0.10);
}

.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;


}
.nav-link{
  text-decoration: none;
  margin-right: 30px;
}


/* dark2 color */
.text-gray{
  color: #424242;
}

/* dark3 color */
.text-gray-light{
  color: #727272;
}

.text-primary{
  color: #FF900E;
}


.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.brand{
  font-weight: 700;
  font-size: 2.5rem;
}

/* banner style  */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.primary-btn{
  font-weight: 700;
  background-color: #FF900E;
  border-style: none;
  padding: 20px 20px;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
}

.banner-img{
  width: 100%;
}

/* feature and content related design */

.feature{
  align-items: center;
}

.feature-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.feature-content{
  margin-left: 130px;
}

.feature-title{
  font-weight: 700;
  font-size: 2.8rem;
}

#quick-list{
  color: #727272;
}

#our-feature{
  color: #131313;
}

/* Responsive media query  */

@media screen and (max-width: 576px) {

  .navbar, 
  .nav-links, 
  .feature{
    flex-direction: column;
  }
  .feature-img{
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-content{
    margin-left: 20px;
  }

  
}

/* for medium device responsive */
@media screen and (min-width: 576px) and ( max-width: 992px){
  .feature{
    flex-direction: column;
  }
}





/* feature two section style here */

.feature-two{
  display: flex;
  
 
}




#feature2-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  
}

.feature2-title{
  color: #131313;
  font-size: 2.8rem;
  
}

.feature2-title-description{
  width: 480px;
  height: 80px;
}


.feature2-mini{
  width: 400px;
  height: 151px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.feature2-mini-title{
  font-size: 1.25rem;
  color: #131313;
}


#btn-experience{
  margin-left:  -100px;
  margin-top: -100px;

}

/* Responsive media query for feature2  */


@media screen and (max-width: 576px) {

  .feature-two{
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
  
 
}


/* some fact card related styles */


.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

#fact-description{
  max-width: 540px;
}


.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  

}

.fact-card{
  border: 2px solid #FF900E;
  margin: 20px;
  width: 140px;
  height: 240px;
  text-align: center;
  justify-content: center;
  align-items: center;


}

.fact-number{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2.8rem;
  font-weight: 600;

  
}

.fact-name{
 margin-top: 5px;
  margin-bottom: 5px; 
  font-size: 1.rem;
}

/* fact card related media query */
@media screen and (max-width:576px) {

  .fact-container{
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  
}

/* for medium devive query */
@media screen and (min-width: 576px) and (max-width: 992px) {

  .fact-container{
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
  }
  
}


/* Our sponsors section  related style here  */

.sponsors-container{
  text-align: center;

}
.sponsors-section-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin: 10px auto;
}



.sponsors-img{
  justify-content: space-between;
  display: flex;
  gap: 50px;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  filter: grayscale(100%);
}

/* sponsors section media query */

@media screen and (max-width: 576px) {
  .sponsors-section
  .sponsors-img{
    flex-direction: column;
    grid-template-columns: repeat(1,1fr);
  }
  
}

/* footer section related style here */

.footer-section{
  background-color: #FFF4E7;
  max-width: 1440px;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;

}










