

/* work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* main content style here */
main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

/* nab bar style here */

.display-flex{
  display: flex;

}

.bg-light{
  background-color: rgba(255, 144, 14, 0.10);
}

.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;


}
.nav-link{
  text-decoration: none;
  margin-right: 30px;
}


/* dark2 color */
.text-gray{
  color: #424242;
}

/* dark3 color */
.text-gray-light{
  color: #727272;
}

.text-primary{
  color: #FF900E;
}


.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.brand{
  font-weight: 700;
  font-size: 2.5rem;
}

/* banner style  */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.primary-btn{
  font-weight: 700;
  background-color: #FF900E;
  border-style: none;
  padding: 20px 20px;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
}

.banner-img{
  width: 100%;
}

/* feature and content related design */

.feature{
  align-items: center;
}

.feature-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.feature-content{
  margin-left: 130px;
}

.feature-title{
  font-weight: 700;
  font-size: 2.8rem;
}

#quick-list{
  color: #727272;
}

#our-feature{
  color: #131313;
}

/* Responsive media query  */

@media screen and (max-width: 576px) {

  .navbar, 
  .nav-links, 
  .feature{
    flex-direction: column;
  }
  .feature-img{
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-content{
    margin-left: 20px;
  }

  
}

/* for medium device responsive */
@media screen and (min-width: 576px) and ( max-width: 992px){
  .feature{
    flex-direction: column;
  }
}





